
.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
  z-index: 100;
}
.left-section {
  display: flex;
  align-items: center;
}
.menu-img {
  cursor: pointer;
}
.search-button {
  height: 40px;
  width: 50px;
}


.menu-img {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.search-barr {
  flex: 1;
  height: 34px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  border-color: rgb(192,192,192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgb(0, 0, 0, 0.05);
  width: 0;
}

.search-barr::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
  padding-left: 10px;
 
}
.search-button {
  height: 37.5px;
  border-width: 1px;
  background-color: rgb(240,240,240);
  border-color: rgb(192,192,192);
  border-style: solid;
  margin-left: -1px;
  width:66px;
  margin-right: 10px;
  cursor: pointer;

}
.search-icon{
  height: 25px;
  margin-top: 2px;

}
.voice-button {
  height: 40px;
  width:40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.voice-icon {
  height: 24px;
  margin-top: 4px;
}

.right-section {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload {
  height: 25px;
  cursor: pointer;
}
.menu {
  height: 25px;
  cursor: pointer;
}
.notifications {
  height: 25px;
  cursor: pointer;
}
.notification-div {
  position: relative;
}
.notification-number {
  position: absolute;
  top: 0;
  right: 3px;
  padding: 2px;
  padding-top: 0px;
  height: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: red;
  color: white;
  align-items: center;
  z-index: 1;
  font-size: 10px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
.user-picture {
  height: 35px;
  width: 35px;
  object-fit: cover;
  object-position: bottom;
  margin-right: 10px;
  border-radius: 18px;
  cursor: pointer;
}

.left-box {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 70px;
  top: 60px;
  z-index: 101;
}
.home-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  cursor: pointer;
  
}
.home-box:hover {
  background-color: rgb(236, 234, 234);
}
.home-icon {
  width: 25px;
}
.home-text {
  font-size: 10px;
  margin-top: 6px;
}
.explore-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  cursor: pointer;
}
.explore-box:hover {
  background-color: rgb(236, 234, 234);
}
.explore-icon {
  width: 25px;
  
}
.explore-text {
  font-size: 10px;
  margin-top: 6px;
}
.subscriptions-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  cursor: pointer;
}
.subscriptions-box:hover {
  background-color: rgb(236, 234, 234);
}
.subscriptions-icon {
  width: 25px;
}
.subscriptions-text {
  font-size: 10px;
  margin-top: 6px;
}
.originals-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  cursor: pointer;
}
.originals-box:hover {
  background-color: rgb(236, 234, 234);
}
.originals-icon {
  width: 25px;
}
.originals-text {
  font-size: 10px;
  margin-top: 6px;
}
.ytmusic-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  cursor: pointer;
}
.ytmusic-box:hover {
  background-color: rgb(236, 234, 234);
}
.ytmusic-icon {
  width: 25px;
}
.ytmusic-text {
  font-size: 10px;
  margin-top: 6px;
}
.library-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  cursor: pointer;
}
.library-box:hover {
  background-color: rgb(236, 234, 234);
}
.library-icon {
  width: 25px;
}
.library-text {
  font-size: 10px;
  margin-top: 6px;
}
